/* Reset css */
body {
  margin: 0px;
  padding: 0px;
  font-family: Georgia, serif;
  color: #252525;
}

h1,
h2,
h3,
h4,
h5,
p,
a {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  display: block;
}

* {
  box-sizing: border-box;
}
/* Header */
.menu {
  background: #252525;
  padding: 20px 0;
}

.menu_container {
  max-width: 960px;
  margin: 0 auto;
}

.menu_container::after,
.menu_container::before {
  content: "";
  display: table;
  clear: both;
}

a.menu_logo {
  display: block;
  float: left;
  margin-left: 10px;
}

.menu_nav {
  float: right;
  margin-right: 10px;
}

.menu_nav li {
  display: inline-block;
}

.menu_nav a {
  display: block;
  padding: 10px;
  color: #fff;
  font-size: 1.125rem;
}

@media (max-width: 739px) {
  .menu {
    text-align: center;
  }
  .menu_nav {
    float: none;
    clear: both;
  }
  a.menu_logo {
    display: inline-block;
    float: none;
    margin: 0 auto;
  }
}

/* Introdução */

.intro {
  background: url('../img/bg-intro.jpg') no-repeat center center;
  background-size: cover;
  padding: 150px 0;
  text-align: center;
  color: #fff;
}

.intro h1 {
  text-transform: uppercase;
  font-size: 3rem;
}

.intro h1::after {
  content: '';
  width: 20px;
  height: 4px;
  display: block;
  background: #fff;
  margin: 10px auto;
}

.intro p {
  font-size: 1.125rem;
  font-style: italic;
}

@media (max-width: 739px) {
  .intro {
    padding: 60px 0;
  }
}

/* Sobre */
.sobre {
  padding: 60px 0;
}

.sobre h2 {
  font-size: 2.25rem;
  margin-bottom: 60px;
  text-align: center;
}

.sobre_container {
  max-width: 960px;
  margin: 0 auto;
}

.sobre_container::after,
.sobre_container::before {
  content: "";
  display: table;
  clear: both;
}

.sobre_item {
  width: 460px;
  float: left;
  margin: 0 10px;
}

.sobre_item img {
  max-width: 100%;
  display: block;
}

.sobre_item h3 {
  background: #252525;
  color: #fff;
  line-height: 1rem;
  padding: 5px 0 10px 0;
  font-size: 2.25rem;
  text-align: center;
  width: 220px;
  font-style: italic;
  font-weight: normal;
  top: -25px;
  position: relative;
}

.sobre > p {
  font-size: 1.125rem;
  line-height: 1.4rem;
  max-width: 460px;
  margin: 20px auto;
  text-align: center;
  font-style: italic;
}

@media (min-width: 740px) and (max-width: 980px) {
  .sobre_container {
    max-width: 720px;
  }
  .sobre_item {
    width: 340px;
  }
}

@media (max-width: 739px) {
  .sobre_container {
    max-width: 300px;
  }
  .sobre_item {
    width: 300px;
    margin: 0 auto;
  }
}

/* Produtos */
.produtos {
  background: #E7E4D8;
  padding: 60px 0;
  border-top: 3px solid #d6d3c8;
  border-bottom: 3px solid #d6d3c8;
}

.produtos_container {
  max-width: 960px;
  margin: 0 auto;
}

.produtos_container::after,
.produtos_container::before {
  content: "";
  clear: both;
  display: table;
}

.produtos_item {
  width: 300px;
  float: left;
  margin: 0 10px 20px 10px;
}

.produtos_item h2 {
  text-align: center;
  font-size: 2.25rem;
  margin-bottom: 20px;
}

.produtos_item p {
  font-size: 0.875rem;
  line-height: 1.4rem;
  margin-bottom: 20px;
  /* text-align: center; */
}

.produtos_item h2::before {
  content: '';
  display: block;
  width: 100px;
  height: 100px;
  background: currentColor;
  border-radius: 50%;
  border: 4px solid #d6d3c8;
  box-shadow: 0px 0px 0px 10px currentColor;
  margin: 20px auto;
}

h2.produtos_paulista::before{
  color: #492901;
}

h2.produtos_mineiro::before{
  color: #C17139;
}

h2.produtos_carioca::before{
  color: #D7A54D;
}

.produtos_btn {
  width: 180px;
  font-size: 1.125rem;
  color: #252525;
  text-transform: uppercase;
  display: block;
  text-align: center;
  font-weight: bold;
  border: 3px solid;
  text-decoration: none;
  padding: 15px 0;
  margin: 20px auto 0 auto;
}

@media (min-width: 740px) and (max-width: 980px) {
  .produtos_container {
    max-width: 720px;
  }
  .produtos_item {
    width: 220px;
  }
}

@media (max-width: 739px) {
  .produtos_container {
    max-width: 300px;
  }
  .produtos_item {
    margin: 0 auto 20px auto;
  }
}

/* Locais */

.locais {
  max-width: 960px;
  margin: 0 auto;
  padding: 20px 0;
}

.locais_item {
  clear: both;
  margin: 60px auto;
}

.locais_item::after,
.locais_item::before {
  display: table;
  content: '';
  clear: both;
}

.locais_item img{
  width: 460px;
  display: block;
  float: left;
  margin: 0 10px 10px 10px;
}

.locais_item > div {
  width: 460px;
  float: left;
  margin: 0 10px;
}

.locais_item h2 {
  font-size: 2.25rem;
  margin-bottom: 20px;
}

.locais_item p {
  font-size: 1.125rem;
  line-height: 1.4rem;
  max-width: 320px;
  margin-bottom: 40px;
}

.locais_item a {
  font-size: 1.125rem;
  text-decoration: none;
  border: 3px solid;
  color: #252525;
  text-transform: uppercase;
  font-weight: bold;
  padding: 10px 15px;
}


@media (min-width: 740px) and (max-width: 980px) {
  .locais {
    max-width: 720px;
  }
  .locais_item > div, .locais_item img {
    width: 340px;
  }
}

@media (max-width: 739px) {
  .locais {
    max-width: 300px;
  }
  .locais_item > div, .locais_item img {
    width: 300px;
    margin: 0px;
  }
}

/* NEWSLATTER */

.assine {
  background: #E7E4D8;
  padding: 30px 0;
}

.assine_container {
  max-width: 960px;
  margin: 0 auto;
}

.assine_container::after, .assine_container::before {
  content: '';
  display: table;
  clear: both;
}

.assine_info {
  width: 460px;
  margin: 0 10px;
  float: left;
}

.assine_info h2 {
  font-size: 2.25rem;
}

.assine_info p {
  font-size: 1.5rem;
  font-style: italic;
}

.assine form {
  width: 460px;
  margin: 10px 10px 0 10px;
  float: left;
}

.assine form label {
  display: none;
}

.assine input {
  width: 320px;
  float: left;
  border: 3px solid #252525;
  background: none;
  font-size: 1.5rem;
  font-style: italic;
  font-family: Georgia, serif;
  padding: 10px;
}

.assine button {
  background: #252525;
  border: none;
  font-family: Georgia, serif;
  color: #fff;
  font-size: 1.5rem;
  padding: 13px 0;
  width: 140px;
  cursor: pointer;
  text-transform: uppercase;
}


@media (min-width: 740px) and (max-width: 980px) {
  .assine_container {
    max-width: 720px;
  }
  .assine_info, .assine form, .assine input {
    width: 340px;
  }
}

@media (max-width: 739px) {
  .assine_container {
    max-width: 300px;
  }
  .assine_info, .assine form, .assine input {
    width: 300px;

  }
}

/* Footer */

.footer {
  background: #d6d3c8;
  padding: 40px 0;
}

.footer_container {
  max-width: 960px;
  margin: 0 auto;
}

.footer_container::after, .footer_container::before {
  content: '';
  display: table;
  clear: both;
}

.footer p {
  float: left;
  margin: 0 10px;
  font-size: 1.125rem;
  line-height: 1.4rem;
}

.footer img {
  float: right;
  margin: 0 10px;
  display: block;
}

@media (max-width: 739px) {
  .footer_container {
    max-width: 300px;
  }
  .footer img {
    float: none;
    margin: 20px 0;

  }

  .footer p {
    float: none;
    margin: 0px;
  }
}
